params{
       genome_reference="/mnt/Almacenamiento/Documents/Ongoing_projects/ancestral/nf-ancestral-vcf-prep/test/reference/Homo_sapiens_assembly19.fasta"
       header_lines="/mnt/Almacenamiento/Documents/Ongoing_projects/ancestral/nf-ancestral-vcf-prep/test/reference/header_lines.txt"
}
process {
      maxForks = 2
}
